
.slideshow {
	display: block;
	position: relative;
	z-index: 0;
}
.slideshow-images {
	display: block;
	overflow: hidden;
	position: relative;
}
.slideshow-images img {
	display: block;
	position: absolute;
	z-index: 1;
}




.slideshow {
	width: 210px;
	height: 340px;
	margin: 0 0 0 0;
   

	/*background: url("../images/back.png") no-repeat scroll 0 0 transparent;*/
}
.slideshow a img {
	border: 0;
}


.slideshow-images {
	width: 170px;
	height: 324px;
	left: 5px;
	
}
.slideshow-images-visible {
	
}
.slideshow-images-prev {
	
}
.slideshow-images-next {
	
}
.slideshow-images img {
	float: left;
	left: 0;
	top: 0;
	position: static;
}


.slideshow-controller {
	background: url(../images/controller.png) no-repeat;
	height: 40px;
	left: 50%;
	margin: -21px 0 0 -119px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	width: 238px;
	z-index: 10000;

}
.slideshow-controller * {
	margin: 0;
	padding: 0;
}
.slideshow-controller-hidden {
	
}
.slideshow-controller-visible {

}
.slideshow-controller a {
	cursor: pointer;
	display: block;
	height: 19px;
	overflow: hidden;
	position: absolute;
	top: 12px;
}
.slideshow-controller a.active {
	background-position: 0 18px;
}
.slideshow-controller li {
	list-style: none;
}
.slideshow-controller li.first a {
	background-image: url(../images/controller-first.gif);
	left: 55px;
	width: 19px;
}
.slideshow-controller li.last a {
	background-image: url(../images/controller-last.gif);
	left: 165px;
	width: 19px;
}
.slideshow-controller li.next a {
	background-image: url(../images/controller-next.gif);
	left: 134px;
	width: 28px;
}
.slideshow-controller li.pause a {
	background-image: url(../images/controller-pause.gif);
	left: 109px;
	width: 20px;
}
.slideshow-controller li.play a {
	background-position: 20px 0;
}
.slideshow-controller li.play a.active {
	background-position: 20px 18px;
}
.slideshow-controller li.prev a {
	background-image: url(../images/controller-prev.gif);
	left: 75px;
	width: 28px;
}