/* 
    Document   : Def
    Created on : May 30, 2010, 4:05:25 PM
    Author     : Fitse
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/





#map li a:link, #map li a:visited{
 font-size: 90%;
 /*display: block;*/
 padding: 0.4em 0 0.4em 0.5em;
/* border-left: 12px solid #711515;*/
 /*border-right: 1px solid #711515;*/
/* background-color: #B51032;*/
 color: black;
 text-decoration: none;
}
#map li a:hover {
/* background-color: #711515;*/
 color: black;
}
#map ul ul {
 margin-left: 12px;
}
#map ul ul li {
 /*border-bottom: 1px solid #711515;

 margin:0;*/
}
#map ul ul a:link, #map ul ul a:visited {
/* background-color: #ED9F9F;*/
 color: black;
}
/*#map ul ul a:hover,#map ul ul a:focus {*/
 /*background-color: #711515;*/
 /*color: black;*/
/*}*/

#map li a:hover {
 /*background-color: #711515;*/
color: black;
}



#map {
/* width: 200px;*/
}

#map ul {
 list-style: none;
 margin: 0;
  padding: 0;
}
