#navigation li a:link{
 font-size:15px;
 display:block;
padding-top:0.1em;
 padding-right:0.4em;
padding-bottom:0.1em;
 padding-left:1.2em;
background-image:url(../images/lk1.png);
 background-repeat:no-repeat;
 height:28px;
border-bottom:1px solid #aaaaa9;
color:#18305e;
 text-decoration:none;
   font-weight:bold;
 /* margin-left:10px;*/
}
#navigation li a:visited{
 font-size:15px;
 display:block;
 padding-top:0.1em;
 padding-right:0.4em;
padding-bottom:0.1em;
 padding-left:1.2em;
 background-image:url(../images/lk1.png);
 background-repeat:no-repeat;
 height:28px;
border-bottom:1px solid #aaaaa9;
color:#18305e;
 text-decoration:none;
   font-weight:bold;
  /*margin-left:10px;*/
}
#navigation li a:hover {
 background-image:url(../images/kl.png);
 background-repeat:no-repeat;
  color:#00704a;
  padding-top:0.1em;
 padding-right:0.4em;
padding-bottom:0.1em;
 padding-left:1.2em;
height:28px;
  font-weight:bold;

border-bottom:1px solid #aaaaa9;
}
#navigation ul ul {
/* margin-left:10px;*/

}
#navigation ul ul li {
 

 margin:0;
 
}
#navigation ul ul a:link{
  background-image:url(../images/lk.png);
border-bottom:1px solid #aaaaa9;

}
 #navigation ul ul a:visited {
      background-image:url(../images/kl.png);
border-bottom:1px solid #aaaaa9;
}

#navigation ul ul a:hover{
 background-image:url(../images/kl.png);
 background-repeat:no-repeat;
 color:#00704a;
 border-bottom:1px solid #aaaaa9;
   font-weight:bold;
}
#navigation ul ul a:focus {
    background-image:url(../images/kl.png);
 background-repeat:no-repeat;
 color:#00704a;
 border-bottom:1px solid #aaaaa9;
   font-weight:bold;
}

#navigation li a:hover {
 background-image:url(../images/kl.png);
 background-repeat:no-repeat;
  color:#00704a;
 border-bottom:1px solid #aaaaa9;
   font-weight:bold;
}



#navigation {
 width:180px;
 

}

#navigation ul {
 list-style:none;
 margin:0;
 padding:0;

}
