/* 
    Document   : pdfcs
    Created on : May 30, 2010, 5:39:23 PM
    Author     : Fitse
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/





#pdfnab li a:link, #pdfnab li a:visited{
 font-size: 90%;
 /*display: block;*/
 padding: 0.4em 0 0.4em 0.5em;
/* border-left: 12px solid #711515;*/
 /*border-right: 1px solid #711515;*/
/* background-color: #B51032;*/
 color: black;
 text-decoration: none;
}
#pdfnab li a:hover {
/* background-color: #711515;*/
 color: black;
}
#pdfnab ul ul {
 margin-left: 12px;
}
#pdfnab ul ul li {
 /*border-bottom: 1px solid #711515;

 margin:0;*/
}
#pdfnab ul ul a:link, #pdfnab ul ul a:visited {
/* background-color: #ED9F9F;*/
 color: black;
}
/*#pdfnab ul ul a:hover,#pdfnab ul ul a:focus {*/
 /*background-color: #711515;*/
 /*color: black;*/
/*}*/

#pdfnab li a:hover {
 /*background-color: #711515;*/
color: black;
}



#pdfnab {
/* width: 200px;*/
}

#pdfnab ul {
 list-style: none;
 margin: 0;
  padding: 0;
}

