
body {
  
 background:#7bbd41;
 color:#000000;
 

}

div.wrapper{
    position: relative;
   margin: auto;
    width: 970px;

    background:#9fd565;
  border:10px;
 
    
  /* border:1px solid red;*/
}



div.Gheader
{
   
    height: 100px;
    width:970px;
    /*margin:auto;*/
    float:left;
    font-family:Nina, Raavi;
     background-image:url(../images/home.png);
    background-repeat:no-repeat;
   
}

div.logo
{
width:100px;
height:100%;
margin: 0;
padding:0;
float:left;

 

}

div.banner  
{
float:left;
width:865px;
height:100%;
margin-top:0px;
border:1px solid red;
}
.toge{
  float:left;
    width:180px;
    /*margin-top:5px;*/
    clear:left;
    font-size:15px;
margin-top:10px;
   
 height:auto;
}
.Gleft
{ 
    float:left;
    width:180px;
    /*margin-top:5px;*/
    clear:left;
    font-size:15px;
  
    
     
}
.rightop{
 
    width:180px;
    /*margin-top:5px;*/
  
    background-image:url(../images/top.png);
    background-repeat:no-repeat;
padding-top:0.2em;
 padding-right:0.4em;
/*padding-bottom:0.1em;*/
 padding-left:1.2em;
height:30px;
color:#ffffff;
  font-weight:bold;
}
.top{
 float:left;
    width:200px;
    /*margin-top:5px;*/
    clear:left;
    background-image:url(../images/top.png);
    background-repeat:no-repeat;
padding-top:0.2em;
 padding-right:0.4em;
/*padding-bottom:0.1em;*/
 padding-left:1.2em;
height:30px;
color:#ffffff;
  font-weight:bold;
}
.endt{
  float:left;
    width:200px;
     background-image:url(../images/end.png);
    background-repeat:no-repeat;
   padding-top:0.1em;
 padding-right:0.4em;
/*padding-bottom:0.1em;*/
 padding-left:1em;
height:30px;
  
}
.minitop{
 float:left;
   width:180px;
   margin-top:5px;
  padding-top:0.2em;
    margin-right:5px;
   background-color:#5a8e22;
     /*background-image:url(../images/lefttop7.png);
    background-repeat:no-repeat;*/
color:#ffffff;
  font-weight:bold;

height:30px;
    font-size:15px;

     
}
.to
{
    float:left;
   width:170px;
    
    font-size:15px;
    padding-top:1px;
   /* border-top:10px solid inset;*/
  
padding-left:10px;
    background-color:#daeed9;
     
    color:#18305e;
   
}

.middlenav
{ 

   float:left;
    width:558px;
    /* border:1px solid red;*/
/* background:#7bbd41;*/
    margin-left:5px;
/* border:1px solid red;*/
    background:#d1ecbc;
    /*margin-right:5px;*/
   margin-bottom:0px;
    margin-top:10px;
   padding-left:8px;
  font-size:14px;
  padding-bottom:5px;
  text-align:left;
   padding-right:5px;
border: 2px solid #5a8e22;
}
.phomidlenav{
    float:left;
    width:755px;
    /* border:1px solid red;*/
/* background:#7bbd41;*/
    margin-left:5px;
/* border:1px solid red;*/
    background:#d1ecbc;
    /*margin-right:5px;*/
   margin-bottom:0px;
    margin-top:10px;
   padding-left:15px;
  font-size:14px;
  padding-bottom:5px;
  text-align:left;
   padding-right:10.5px;
border: 2px solid #5a8e22;
}
.middlevi
{

   float:left;
    width:588px;
    /* border:1px solid red;*/
/* background:#7bbd41;*/
    margin-left:5px;
/* border:1px solid red;*/
    background:#d1ecbc;
    /*margin-right:5px;*/
   margin-bottom:0px;
    margin-top:10px;
   padding-left:5px;
  font-size:14px;
  padding-bottom:5px;
  text-align:left;
   padding-right:5px;
  border: 2px solid #5a8e22;

}
.midcont
{
     margin-top:10px;
    
    width:570px;
     margin-left:5px;
/* border:1px solid red;*/
    background:#e4e5d7;
    /*margin-right:5px;*/
   margin-bottom:0px;
}
.mid
{
     margin-top:5px;

    width:570px;
     margin-left:5px;
     margin-right:5px;
/* border:1px solid red;*/
    background:#e4e5d7;
    margin-bottom:10px;
    /*margin-right:5px;*/

}


.Photos{
    float:left;
    width:775px;
   /*margin:10px;*/
    font-size:18px;
    margin-left:5px;
/* border:1px solid red;*/
    background:#d1ecbc;
    /*margin-right:5px;*/
   margin-bottom:0px;
    margin-top:10px;
   padding-left:5px;
  font-size:14px;
  padding-bottom:5px;
  text-align:left;
  border: 2px solid #5a8e22;
}
.megephoin{
margin-top:10px;
   float:right;
    clear:right;
    width:180px;

}
.mergephotojoin{
margin-top:10px;
    float:right;
    clear:right;
    width:210px;
   

}



.GPhotos
{
  
    float:left;
    clear:both;
    width:180px;
    margin-top:10px;
   
    margin-left:5px;
  
    font-size:14px;
padding-top:10px;
padding-left:10px;



}

/*div.GJoin{
margin-top:5px;
margin-right:5px;
margin-bottom:5px;
   float:right;
clear:right;
width:210px;
 background-image:url(../images/ggoin.png);
  color:#18305e;
font-size:14px;

}*/
div.Joi{
 margin-top:5px;
/*margin-left:5px;*/
/*margin-bottom:5px;*/
    
clear:left;
width:180px;
 background-image:url(../images/ggoin.png);
  color:#18305e;
/*font-size:14px;*/

}
.bot{
   float:right;
clear:right;
width:171px;
 /*background-image:url(../images/ggoin.png);*/
  color:#ffffff;
  font-weight:bold;
font-size:10px;
background-color:#5a8e22;
padding-left:5px;
height:28px;
 padding-right:3px;

                
 
}
.ot{
float:left;
    width:179px;
  /* margin-top:5px;*/
  padding-top:0.1em;
   /* margin-right:5px;*/
   background-color:#5a8e22;
   padding-left:1.5px;
      padding-right:1.5px;
color:#ffffff;
font-size:10px;
height:30px;
}


a.ganchor:link{color: #800080;text-decoration: none;}
a.ganchor:visited {color: #800080; text-decoration: none}
a.ganchor:hover {color:#800080;text-decoration: underline;}
.toplink
{
  
     color: black;

}


div.Gfooter
{ /* border:1px solid red;*/
    height:50px;
 
    font-size:12px;
    text-align:center;
    width:100%;
    clear:both;
    font-family:Arial;
    background:#5a8e22;
    color:#ffffff;
   }
input {
  background:#cbeacd;
}
textarea{
     background:#cbeacd;
}
select {
     background:#cbeacd;
}
option{
     background:#cbeacd;
}